<mat-toolbar color="primary">

  <button fxShow fxHide.gt-xs (click)="onToggle()" mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="logo">
    <a routerLink="/">LOGO</a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul class="navlist" fxLayout fxLayoutGap="10px">
      <li *ngIf="!isAuth">
        <a routerLink="/signup">signup</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">login</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/training">training</a>
      </li>
      <li *ngIf="isAuth">
        <a>logout</a>
      </li>
    </ul>
  </div>

</mat-toolbar>
