<section>
  <form  fxLayout="column" fxLayoutAlign="center center" class="signup-form" #form='ngForm' (ngSubmit)="onSubmit(form)" #form="ngForm">
      <!--  fxLayoutAlign="center center"    y x -->
      <mat-form-field>
      <input matInput placeholder="email" type="email" ngModel name='email' required email #email='ngModel'>
      <mat-error *ngIf="email.hasError('email')">email is not email</mat-error>
      <mat-error  *ngIf="email.hasError('required')">email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field  hintLabel='password at least 6 charcters'>
      <input matInput placeholder="password" type="password" ngModel name='password' 
       required min-length='6'
       #password= 'ngModel'
       >
      <mat-hint align='end'>{{password.value?.length}}/6</mat-hint>
      <mat-error *ngIf ="password.hasError('min-length')">min lenth 6 </mat-error>
      <mat-error *ngIf ="password.hasError('required')">you didn't enter password</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="title">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    

    

    
    <button mat-raised-button color='primary'> submit </button>

  </form>
</section>



<!-- <section>
    <div id="container">
        <div class="child" id="child1"> </div>
        <div class="child" id="child2"> </div>
        <div class="child" id="child3"> </div>
       
    </div>
</section> -->